@tailwind components;
@tailwind utilities;

@import '@kamalion/ui/dist/styles.css';

:root {
  --color-nav: #293056;
  --color-primary: #4FB0F6;
}

body {
  @apply bg-[#F8FAFB] text-[#1D1E52] shrink-0;
}

body.dark {
  @apply bg-[#1F2229] text-white;
}

@layer components {
  input[type='number'],
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }

  .bg-card {
    @apply bg-[#F8FAFB] text-[#1D1E52];
  }

  .bg-card.dark {
    @apply bg-[#2E323B] text-white;
  }

  .bg-nav {
    @apply bg-[color:var(--color-nav)];
  }
}